
.item .info{
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-width: 0;
    max-width: 70%;
}

.item img {
    background-color: grey;
    width: 30%;
    height: 20px;
}
